In [ ]:
import os
import pandas as pd

In [ ]:
os.chdir('../')

In [ ]:
from scrapper.news_sites.alain import AlainNewsScraper
from db.connection.db_conn import DatabaseLoader

In [ ]:
db = DatabaseLoader()

In [ ]:
db_connection = db.connect()

In [ ]:
scraper = AlainNewsScraper(url='https://am.al-ain.com/', number_of_pages_to_scrape=2)

In [ ]:
news_data = scraper.get_full_news()

In [ ]:
len(news_data)

In [ ]:
news_df = pd.DataFrame(news_data)

In [ ]:
news_df.head()

In [ ]:
news_df.isna().sum()

In [22]:
news_df.shape

(985, 9)

In [ ]:
news_df.to_csv('./data/raw/alain_news.csv', index=False)

In [ ]:
db.add_data_to_table(news_df, 'news_articles')

In [23]:
# get all null values
print(news_df[news_df.isna().any(axis=1)])

                                             image_url  \
354  https://cdn.al-ain.com/images/2024/1/21/252-13...
374  https://cdn.al-ain.com/images/2024/1/08/252-19...
928  https://cdn.al-ain.com/images/2023/11/11/273-2...
942  https://cdn.al-ain.com/images/2023/10/20/252-1...

                                 title  \
354              ከተራና ጥምቀት በአሜሪካ ጎዳናዎች
374       የቤዛ ኩሉ ሃይማኖታዊ ሥርዓት በቅዱስ ላሊበላ
928               ኢንተርሚያሚ የሜሲን ደስታ ሲጋራ
942  የሮናልዶን ስኬቶች የአል ናስር ተጫዋቾች ሲያከብሩለት

                                           article_url  \
354  https://am.al-ain.com/article/washington-seatt...
374  https://am.al-ain.com/article/lalibela-ethiopi...
928  https://am.al-ain.com/article/messi-inter-miam...
942  https://am.al-ain.com/article/ronaldo-got-surp...

                                             highlight  time_publish category  \
354            የከተራና የጥምቀት በዓል በዋሽንግተን ሲያትል በደማቅ ተከብሯል  4 months ago   social
374  የቤዛ ኩሉ ሃይማኖታዊ ከትናንት ምሽት ጀምሮ መካሄድ የጀመረ ሲሆን፤ ዛሬም...  4 months ago   social
928  አርጀንቲናዊው ኮከብ ለኢንተርሚያሚ እየተጫወተ ባሎንዶር ያሸነፈ የመጀመሪያ...  6 months ago   sports
942  ሮናልዶ በፈረንጆቹ 2023 ያስቆጠራቸው ጎሎች አርባ የደረሱ ሲሆን፤ ሌሎች...  7 months ago   sports

    date_published publisher_name detail_content
354            NaN            NaN            NaN
374            NaN            NaN            NaN
928            NaN            NaN            NaN
942            NaN            NaN            NaN